<div>
  <h1 class="text-2xl font-bold">URL Shortener</h1>

  <%= render partial: 'links/link_form', locals: { link: Link.new } %>

  <div id="links">
    <% @links.each do |link| %>
      <%= render partial: 'links/link', locals: { link: link } %>
    <% end %>
  </div>
</div>